.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_wrapper {
    width: 400px;
    margin: auto;
}

.form_heading {
    font-family: "Lexend", sans-serif;
    margin: 3px 0;
    font-weight: 300;
    color: rgb(20, 20, 20);
}

.form_sub_heading {
    font-weight: 300;
    font-size: 0.8rem;
    font-family: "Inter", sans-serif;
    margin: 7px 0;
    color: rgb(82, 82, 82);
}
