@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend&display=swap");

.input_wrapper {
    min-height: 48px;
}

.input_area {
    padding: 4px 2px;
    border: none;
    width: 80%;
    border-bottom: 1px solid grey;
}

.input_area:focus {
    outline: none;
}

.error_text {
    margin: 0;
    margin-top: 4px;
    color: red;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
}
